@import "tailwindcss";

@theme {
  --color-primary: #2E7D6B;
  --color-secondary: #A8E6CF;
  --color-accent: #FFD166;
  --color-background: #F9FBFA;
  --color-text: #1F2933;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}